.forget-password {
    margin: 0% 15% 0% 15%;
    background: #f6f6f6;
    padding: 2% 10% 2% 10%;
    font-family: sans-serif;
    border-radius: 20px;
    border: 2px solid #186edf;

}

.closeButton {
    margin-left: -10%;
    background: none;
    border: none;
}

.closeButton:hover {
    transform: scale(1.2);
    opacity: 0.6;
}

.forget-password-text-container {
    text-align: center;
}


.forget-password-heading {
    font-weight: normal;
    line-height: 130%;
    margin-bottom: 30px;
    color: #186edf;
}

.forget-password-text {
    margin-bottom: 30px;
}

.reset-password-button {
    font-size: 1vw;
    color: white;
    line-height: 10%;
    background: #1970E1;
    border-radius: 50px;
    border-color: #1970E1;
    padding: 20px;
    transition: background-color 0.25s ease-out;
    width: 32%;
    margin-left: 33%;
    margin-top: 30px;
}

.reset-password-button:hover {
    background-color: #FFFFFF;
    color: #1970E1;
}